<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Know+</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="app-container">
    <aside class="sidebar">
      <div class="sidebar-header">Descobrir</div>
      <ul>
        <li><a href="#">Recomendados</a></li>
        <li><a href="#">Todos os Cursos</a></li>
        <li><a href="#">Categorias</a></li>
      </ul>
      <div class="sidebar-header">Minha Biblioteca</div>
      <ul>
        <li><a href="#">Meus Cursos</a></li>
        <li><a href="#">Favoritos</a></li>
        <li><a href="#">Certificados</a></li>
      </ul>
      <div class="sidebar-header">Categorias</div>
      <ul>
        <li><a href="#">Desenvolvimento Web</a></li>
        <li><a href="#">Data Science</a></li>
        <li><a href="#">Design Gráfico</a></li>
        <li><a href="#">Informática</a></li>
      </ul>
    </aside>
    <main class="content">
      <header class="content-header">
        <h1>Aprenda Agora</h1> 
        <div class="search-bar">
          <input type="text" placeholder="Buscar cursos, tutores ou módulos..." />
          <button class="search-icon">
          </button>
        </div>
      </header>
      <section class="section">
        <h2>Cursos Populares</h2>
        <div class="grid">

          <a href="../../courses/html-basico.html" class="card-link">
            <div class="card">
              <img src="https://cdn-icons-png.flaticon.com/512/3291/3291670.png" alt="HTML Image">
              <p>Desenvolvimento Web para Iniciantes</p>
              <small>Básico</small>
            </div>
          </a> 

          <a href="../../courses/machine-basico.html" class="card-link">  
            <div class="card">
              <img src="https://t4.ftcdn.net/jpg/03/98/18/19/360_F_398181949_BudYmmAeTPJwDz6HMxwf1PL3ZNIblohm.jpg" alt="Machine Learning image">
              <p>Machine Learning para Iniciantes</p>
              <small>Básico</small>
            </div>
          </a>   

          <a href="../../courses/design-basico.html" class="card-link">
            <div class="card">
              <img src="https://w7.pngwing.com/pngs/728/660/png-transparent-computer-icons-paintbrush-paint-landscape-logo-painting.png" alt="Design Logo image">
              <p>Design Gráfico para Iniciantes</p>
              <small>Básico</small>
            </div>
          </a> 
          
          <a href="../../courses/informatica-basica.html" class="card-link">
            <div class="card">
              <img src="https://cdn.vectorstock.com/i/500p/64/47/desktop-computer-icon-symbol-logo-design-vector-21056447.jpg" alt="Informática logo image">
              <p>Informática para Iniciantes</p>
              <small>Básica</small>
            </div>
          </a>  
        </div>
      </section>
    </main>
  </div>
  <script src="script.js"></script>
</body>
</html>
